# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# TypeScript
dist
*.tsbuildinfo

# Environment files
.env
.env.*

# Docker
docker-compose.override.yml
docker-compose*.yml
.dockerignore

# VSCode / IDEs
.vscode
.idea
*.sw?

# System files
.DS_Store
Thumbs.db
